	<h1>CALYPSO<br>MEDiA</h1>
  <h3 id="work"><%= link_to "Work", root_path %></h3>
  <ul id="pages">
		<li><%= link_to "Life in the Dark", lifeinthedark_path %></li>
		<li><%= link_to "Lightning", lightning_path %></li>
		<li><%= link_to "Italy", italy_path %></li>
		<li><%= link_to "Antarctica", antarctica_path %></li>

	</ul>
  <h3 id="contact">Contact Information</h3>
    <ul id="links">
      <li><%= link_to "About", "google.com" %></li>
      <li><%= link_to "Flickr", 'https://www.flickr.com/photos/arielthidal/' %></li>
      <li><%= link_to "Facebook", 'https://www.facebook.com/ArielHidal' %></li>
      <li><%= link_to "Complaints", 'https://www.youtube.com/watch?v=uPIIeVH6joA' %></li>
    </ul>
  <div class="images">
        <div class="imgbox">
          <img class="photo" src="https://farm8.staticflickr.com/7644/16830556039_2125c35ef8_b.jpg" />
            <div class="meta">
							<%= image_tag("aperture.png", alt: "aperture", id: "aperture") %>
							<%= image_tag("exposure.png", alt: "exposure", id: "exposure") %>
							<%= image_tag("focal.png", alt: "focal", id: "focal") %>
							<%= image_tag("iso.png", alt: "iso", id: "iso") %>
            </div>
            <ul class="info">
              <li>f/4.5</li>
              <li>1/60</li>
              <li>20.0mm</li>
              <li>200</li>
            </ul>
          </div>
        <div class="imgbox">
          <img class="photo" src="https://farm9.staticflickr.com/8686/17016876565_91ba40a50f_b.jpg" />
            <div class="meta">
							<%= image_tag("aperture.png", alt: "aperture", id: "aperture") %>
							<%= image_tag("exposure.png", alt: "exposure", id: "exposure") %>
							<%= image_tag("focal.png", alt: "focal", id: "focal") %>
							<%= image_tag("iso.png", alt: "iso", id: "iso") %>
            </div>
            <ul class="info">
              <li>f/13.0</li>
              <li>5</li>
              <li>55.0mm</li>
              <li>200</li>
            </ul>
          </div>
        <div class="imgbox">
          <img class="photo" src="https://farm9.staticflickr.com/8724/16809445247_eac24ae176_b.jpg" />
            <div class="meta">
							<%= image_tag("aperture.png", alt: "aperture", id: "aperture") %>
							<%= image_tag("exposure.png", alt: "exposure", id: "exposure") %>
							<%= image_tag("focal.png", alt: "focal", id: "focal") %>
							<%= image_tag("iso.png", alt: "iso", id: "iso") %>
            </div>
            <ul class="info">
              <li>f/8.0</li>
              <li>1/160</li>
              <li>55.0mm</li>
              <li>100</li>
            </ul>
          </div>
        <div class="imgbox">
          <img class="photo" src="https://farm9.staticflickr.com/8742/17015984651_8327520f2d_b.jpg" />
            <div class="meta">
							<%= image_tag("aperture.png", alt: "aperture", id: "aperture") %>
							<%= image_tag("exposure.png", alt: "exposure", id: "exposure") %>
							<%= image_tag("focal.png", alt: "focal", id: "focal") %>
							<%= image_tag("iso.png", alt: "iso", id: "iso") %>
            </div>
            <ul class="info">
              <li>f/3.5</li>
              <li>1/13</li>
              <li>16.0mm</li>
              <li>1600</li>
            </ul>
          </div>
        <div class="imgbox">
          <img class="photo" src="https://farm9.staticflickr.com/8748/17015346672_e51663b777_b.jpg" />
            <div class="meta">
							<%= image_tag("aperture.png", alt: "aperture", id: "aperture") %>
							<%= image_tag("exposure.png", alt: "exposure", id: "exposure") %>
							<%= image_tag("focal.png", alt: "focal", id: "focal") %>
							<%= image_tag("iso.png", alt: "iso", id: "iso") %>
            </div>
            <ul class="info">
              <li>f/5.0</li>
              <li>1/80</li>
              <li>16.0mm</li>
              <li>200</li>
            </ul>
          </div>
        <div class="imgbox">
          <img class="photo" src="https://farm8.staticflickr.com/7608/16829083678_2b8d0c46bd_b.jpg" />
            <div class="meta">
							<%= image_tag("aperture.png", alt: "aperture", id: "aperture") %>
							<%= image_tag("exposure.png", alt: "exposure", id: "exposure") %>
							<%= image_tag("focal.png", alt: "focal", id: "focal") %>
							<%= image_tag("iso.png", alt: "iso", id: "iso") %>
            </div>
            <ul class="info">
              <li>f/4.5</li>
              <li>1/1250</li>
              <li>36.0mm</li>
              <li>100</li>
            </ul>
          </div>
        <div class="imgbox">
          <img class="photo" src="https://farm9.staticflickr.com/8702/16394363924_ecc696cbfe_b.jpg" />
            <div class="meta">
							<%= image_tag("aperture.png", alt: "aperture", id: "aperture") %>
							<%= image_tag("exposure.png", alt: "exposure", id: "exposure") %>
							<%= image_tag("focal.png", alt: "focal", id: "focal") %>
							<%= image_tag("iso.png", alt: "iso", id: "iso") %>
            </div>
            <ul class="info">
              <li>f/16.0</li>
              <li>1/1250</li>
              <li>18.0mm</li>
              <li>1600</li>
            </ul>
          </div>
        <div class="imgbox">
          <img class="photo" src="https://farm8.staticflickr.com/7635/16809362597_af136c616c_b.jpg" />
            <div class="meta">
							<%= image_tag("aperture.png", alt: "aperture", id: "aperture") %>
							<%= image_tag("exposure.png", alt: "exposure", id: "exposure") %>
							<%= image_tag("focal.png", alt: "focal", id: "focal") %>
							<%= image_tag("iso.png", alt: "iso", id: "iso") %>
            </div>
            <ul class="info">
              <li>f/3.5</li>
              <li>1/2000</li>
              <li>18.0mm</li>
              <li>200</li>
            </ul>
          </div>
        <div class="imgbox">
          <img class="photo" src="https://farm9.staticflickr.com/8699/16394417164_5eaea40bb0_b.jpg" />
            <div class="meta">
							<%= image_tag("aperture.png", alt: "aperture", id: "aperture") %>
							<%= image_tag("exposure.png", alt: "exposure", id: "exposure") %>
							<%= image_tag("focal.png", alt: "focal", id: "focal") %>
							<%= image_tag("iso.png", alt: "iso", id: "iso") %>
            </div>
            <ul class="info">
              <li>f/10.0</li>
              <li>1/400</li>
              <li>55.0mm</li>
              <li>100</li>
            </ul>
          </div>
  </div>
