<h1>CALYPSO<br>MEDiA</h1>
<h3 id="work"><%= link_to "Work", root_path %></h3>
<ul id="pages">
  <li><%= link_to "Life in the Dark", lifeinthedark_path %></li>
  <li><%= link_to "Lightning", lightning_path %></li>
  <li><%= link_to "Italy", italy_path %></li>
  <li><%= link_to "Antarctica", antarctica_path %></li>
</ul>
